.heading {
    font-family: oswald;
    font-size: 7vw;
    background-color: #d84444;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.contact-info {
  display: flex;
  justify-content: space-around;
  font-size: 1.2vw;
  font-family: verdana !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  .left-img {
    float: left;
    width: 25%;
  }
  .card-title {
  color: #f34f4c;
    font-size: 40px!important;
    font-family: oswald;
  }
  .card-text {
    font-family: century-gothic;
    font-size: 16px;
  }
  .align-center {
    text-align: center;
  }
  .founders-container h1 {
    font-family: oswald;
    font-size: 40px;
    margin-left: 50px;
  }
  .each-founder {
    display: flex;
    align-items: center;
    margin-left: 100px;
    width: 50%;
  }
  .founders-container p {
    font-family: century-gothic;
    font-size: 18px;
    margin-left: 20px;
    padding-left: 20px;
    line-height: 30px;
  }
  .leader {
    font-size: 50px !important;
    font-family: oswald;

  }
  .divider { 
    left: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-top: 2px dashed black;
  }